@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
    background-image: url('imgs/SchoolBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Schoolbell', cursive;
    letter-spacing: 3px;
    color: #384254;
}

a {
    text-decoration: none;
}

a:hover strong {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    max-width: 100vw;
}

header .branding img {
    width: 5rem;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #BBDED9;
    padding: 0.5rem 2rem;
    width: 100%;
    color: #384254;
    margin: auto;
}

.branding h1 {
    font-size: 1.5rem;
}

.simpleMathGame {
    min-height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    min-width: 250px;
    max-width: 45rem;
    padding: 1rem;
}

.alert-content-container {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    isolation: isolate;
}

.alert-container {
    background-color: #BBDED9;
    min-width: 250px;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
}

.alert-container p {
    margin: 1rem;
}

.alert-container-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
}


.container h1 {
    margin-bottom: 1rem;
}

.button {
    padding: 0.5rem;
    font-weight: bolder;
    background-color: #BBDED9;
    border-color: #FFC9C6;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 5px;
    color: #000000;
}

.button:hover {
    background-color: #FFC9C6;
}

#operator {
    color: #BBDED9;
    text-emphasis-color: #BBDED9;
    text-shadow: 2px 2px 2px black;
}

.instruction p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.progress {
    width: 100%;
    height: 1rem;
    border: 3px solid #FFC9C6;
    border-radius: 5px;
    display: flex;
}

.progress-fill {
    height: 100%;
    background-color: #BBDED9;
}

#form {
    flex-direction: column;
}

.back, #no {
    background-color: #FAA0A0;
    border-color: #BBDED9;
    color: #000000;
}

.back, .proceed, .submit, .view, .reset, #no, #yes {
    width: 10rem;
    margin: 0 auto 1rem ;
    border-radius: 15px;
}

.back:hover, .proceed:hover {
    background-color: #FFC9C6;
    border-color: #BBDED9;
    color: black;
}

input {
    font-size: 1.5rem;
    text-align: right;
    width: 6rem;
    height: 3rem;
    margin: 0 auto;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.warning {
    margin: 1rem;
}

.summary {
    overflow-x: auto;
}

ul {
    list-style: none;
    width: 25rem;
    margin: 1rem auto 2rem;

}

li {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(2, 1fr);
}

li span {
    border: 1px solid black;
    background-color: #ffffff;
}

.span-header {
    background-color: #FFC9C6;
}

.span-header h4{
    color: black;
}

.check {
    font-weight: bold;
    background-color: #BBDED9;
}


.cross {
    font-weight: bold;
    background-color: #FAA0A0;
}

.lateral-format {
    width: 6rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.lateral-format span {
    text-align: right;
}

#question .lateral-format span.lower-row {
    border-bottom: 2px solid black;
}

footer {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: #BBDED9;
}




/* responsive setup */
@media (max-width: 310px) {
    .simpleMathGame {
        min-height: calc(100vh - 11rem);
    }

    .branding {
        height: 8rem;
    }

    footer {
        font-size: 0.8rem;
        height: 3rem;
    }

    .footerA {
        display: none;
    }

    .footerB {
        display: block !important;
        text-align: center;
    }
}

@media (max-width: 580px) {
    
    .small-screen-header {
        display: block !important;
    }

    .medium-screen-header {
        display: none !important;
    }

    footer {
        font-size: 0.8rem;
    }
}


@media (max-width:768px) {

    .container h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    .instruction p {
        font-size: 1rem;
    }

    .button {
        font-size: 1rem;
        margin: 0 auto;
        width: 100%;
    }
    .alert-content-container {
        padding: 0.75rem;
    }

    @media (orientation: landscape) {
        .content-container {
            padding: 2rem 1rem;
        }
    }
}

@media (min-width:769px) and (max-width:992px) {
    @media (orientation: portrait) {
        .container h1 {
            font-size: 2rem;
            margin: 0;
        }
    
        .instruction p {
            font-size: 1.5rem;
        }
    
        .button {
            font-size: 1.5rem;
            margin: 0 auto;
            width: 100%;
        }
    }

    @media (orientation: landscape) {
        .content-container {
            padding: 2rem 1rem;
        }
    
        .button {
            margin: 0 auto;
            width: 100%;
        }
    }
}

/* 
@media (min-width: 993px) {
    .branding {
        justify-content: flex-start;
        margin: 0;
    }
} */
